.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding:1rem;
    transition: all 0.2s ease-in-out;
}

.input{
    border: none;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    resize: none;
    overflow: hidden;
    background-color: #1e1e1e;
    border-radius: 1rem;
    padding: 0.25rem;
    transition: all 1s ease-in-out;
}

.inputForm .input:focus {
    border: 1px solid #69c4f5;
    height: 2.5rem;
    transition: all 0.2s ease-in-out;

}

.input:focus::placeholder {
    color: transparent;

  }
.inputButton {
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0 1rem;
    text-align: center;
    background: linear-gradient(90deg, #1b058e, #3f3d9c, #1d05ee);
    border-radius: 1rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    resize: none;
    overflow: hidden;
    cursor: pointer;
    margin-top: 0.5rem;
}

.inputContainer {

    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    transition: all 0.2s ease-in-out;

}